body {
    text-align: center;
    color: antiquewhite;
    background-color: rgb(0, 29, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h1 {
    font-size: 40pt;
}

p {
    font-size: 18pt;
}

input {
    height: 18pt;
    margin: 20px;
}

button {
    font-size: 18pt;
    margin: 20px;
}